body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}
.hidden {
  display: none;
}

#clock,
#greeting,
#todo-form,
#quote,
#weather,
#todo-list,
#greeting,
#login-form {
  position: relative;
  text-align: center;
}

#clock {
  font-size: 60px;
  margin-top: 199px;
}

ul {
}

li {
  text-align: center;
  width: fit-content;
}

input {
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  width: 600px;
  height: 50px;
  font-size: 30px;
  color: white;
}

input::placeholder {
  color: white;
  text-align: center;
}
